@model TravelDetroit.Presentation.ViewModels.UserReviewIndexViewModel
@{
    ViewBag.Title = "Index";
}

<h2>@Model.Location.Name</h2>


@using (@Html.BeginForm("Index", "Locations"))
{
    <div class="form-group ">
        @Html.LabelFor(m => m.Reviews)
        @Html.TextAreaFor(m => m.Reviews, new { @class = "form-control", rows = 6 })
    </div>
<input type="submit" class="btn btn-primary" value="SaveReviews" />
}
