@model TravelDetroit.Presentation.ViewModels.UserProfileIndexViewModel
@{
    ViewBag.Title = "AddLocationToUser";
}


<h3>Search a favorite location</h3>

<div>
    Please provide the location name:<br>
    <input type="text" id="locationName" name="locationName">
    <input id="searchLocation" type="button" value="Search Location" onclick="SearchLocations(); return false;" />
</div>
<br />
@*<div>
        Here are the search results-
        <br />
        Name of the Place: <label id="lblName"></label>
        <br />
        Address: <label id="lblAddress"></label>
        <br />
        Tags: <label id="lblTags"></label>
        <br />
        Place Id: <label id="lblPlaceId"></label>
    </div>*@

<table style="display: none" id="tblSearchedLocations" class="table">
    <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Tags</th>
    </tr>
</table>
<br />

<script>
    function SearchLocation() {
        $.ajax({
            url: '/locations/SearchLocation',
            type: 'GET',
            data: {
                'searchText': $("#locationName").val()
            },
            dataType: 'json',
            success: function (data) {
                $('#lblName').text(data.candidates[0].name);
                $('#lblAddress').text(data.candidates[0].formatted_address);
                $('#lblTags').text(data.candidates[0].types);
                $('#lblPlaceId').text(data.candidates[0].place_id);
            },
            error: function (request, error) {
                alert("Error in Request: " + JSON.stringify(request));
            }
        });
    }

    var locationsData;
    function SearchLocations() {
        $.ajax({
            url: '/locations/SearchLocations',
            type: 'GET',
            data: {
                'searchText': $("#locationName").val()
            },
            dataType: 'json',
            success: function (data) {
                if (data.results.length > 0) {
                    $("#tblSearchedLocations").show();
                }
                else {
                    $("#tblSearchedLocations").hide();
                }
                ClearLocationSearchTable();
                locationsData = data;
                var table = document.getElementById("tblSearchedLocations");
                for (i = 0; i < data.results.length; i++) {
                    var row = table.insertRow(i + 1);
                    var column1 = row.insertCell(0);
                    var column2 = row.insertCell(1);
                    var column3 = row.insertCell(2);
                    column1.innerHTML = '<a href="/locations/index?placeId=' + data.results[i].place_id + '">' + data.results[i].name + '</a>';
                    column2.innerHTML = data.results[i].vicinity;
                    column3.innerHTML = data.results[i].types;
                }
            },
            error: function (request, error) {
                alert("Error in Request: " + JSON.stringify(request));
            }
        });
    }
    //function SaveLocation() {
    //    var chx = document.getElementsByTagName('input');
    //    for (var i = 0; i < chx.length; i++) {
    //        if (chx[i].type == 'radio' && chx[i].checked && chx[i].name == 'location') {
    //            var selectedPlaceId = chx[i].value;
    //            for (i = 0; i < locationsData.results.length; i++) {
    //                if (locationsData.results[i].place_id == selectedPlaceId) {
    //                    $.ajax({
    //                        url: '/locations/SaveLocation',
    //                        type: 'POST',
    //                        data: {
    //                            Name: locationsData.results[i].name,
    //                            Address: locationsData.results[i].vicinity,
    //                            PlaceId: locationsData.results[i].place_id,
    //                            Tags: locationsData.results[i].types
    //                        },
    //                        dataType: 'json',
    //                        success: SaveLocationToUser(id),
    //                        error: function (request, error) {
    //                            alert("Error in Request: " + JSON.stringify(request));
    //                        }
    //                    });
    //                    return;
    //                }
    //            }
    //        }
    //    }
    //    alert("please select a location");
    //}
    //function SaveLocationToUser(id) {
    //    $.ajax({
    //        url: '/locations/SaveLocationToUser',
    //        type: 'POST',
    //        data: {
    //            locationId: id
    //        },
    //        dataType: 'json'
    //    });
    //    alert('Location is added to the user');
    //    ClearLocationSearchTable();
    //}
    function ClearLocationInformation() {
        $('#lblName').text('');
        $('#lblAddress').text('');
        $('#lblTags').text('');
        $('#lblPlaceId').text('');
        $("#locationName").val('');
    }
    function ClearLocationSearchTable() {
        var tableHeaderRowCount = 1;
        var table = document.getElementById('tblSearchedLocations');
        var rowCount = table.rows.length;
        for (var i = tableHeaderRowCount; i < rowCount; i++) {
            table.deleteRow(tableHeaderRowCount);
        }
    }
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#locationName').on('keypress', function (e) {
            if (e.which == 13) {
                $('#searchLocation').click();
            }
        })
    })

</script>

