
@{
    ViewBag.Title = "AddLocationToUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (@Html.BeginForm("", ""))
{
    <h2>Add Your Favorite Location</h2>

    <div>
        Please provide the location name:<br>
        <input type="text" id="locationName" name="locationName">
        <input id="searchLocation" type="button" value="Search Location" onclick="SearchLocation(); return false;" />
    </div>
    <br />
    <div>
        Here are the search results-
        <br />
        Name of the Place: <label id="lblName"></label>
        <br />
        Address: <label id="lblAddress"></label>
        <br />
        Tags: <label id="lblTags"></label>
        <br />
        Place Id: <label id="lblPlaceId"></label>
    </div>
    <br />
    <input id="saveLocation" type="button" value="Save Location" onclick="SaveLocation(); alert('Location is Added'); return false;" />
}

@section scripts
{
    <script>
        function SearchLocation() {
            $.ajax({
                url: '/locations/SearchLocation',
                type: 'GET',
                data: {
                    'searchText': $("#locationName").val()
                },
                dataType: 'json',
                success: function (data) {
                    $('#lblName').text(data.candidates[0].name);
                    $('#lblAddress').text(data.candidates[0].formatted_address);
                    $('#lblTags').text(data.candidates[0].types);
                    $('#lblPlaceId').text(data.candidates[0].place_id);
                },
                error: function (request, error) {
                    alert("Error in Request: " + JSON.stringify(request));
                }
            });
        }

        function SaveLocation() {
            $.ajax({
                url: '/locations/SaveLocation',
                type: 'POST',
                data: {
                    Name: $('#lblName').text(),
                    Address: $('#lblAddress').text(),
                    PlaceId: $('#lblPlaceId').text(),
                    Tags: $('#lblTags').text()
                },
                dataType: 'json',
            });
        }
    </script>
}

