@model TravelDetroit.Models.UserProfile

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Name</h2>

<h4>Favorite Locations</h4>

<table class="table">
    <tr>
        <th>@Model.Name's Favorite Locations</th>
    </tr>
    @if (Model.Locations != null)
    {
        foreach (var location in Model.Locations)
        {
            <tr>
                <td>
                    <text>Name: </text>@location.Name
                    <br />
                    <text>Address: </text>@location.Address
                </td>
            </tr>
        }
    }
    else
    {
            <tr>
                <td>
                    <text>No locations found...</text>
                </td>
            </tr>
    }
</table>