@model TravelDetroit.Presentation.ViewModels.LocationIndexViewModel

@{
    ViewBag.Title = "Index";
}

<h2>@Model.Location.Name</h2>

@if (Model.UserReviews.Count() == 0)
{
    <h4>Reviews</h4>
    @for (int i = 0; i < 10; i++)
    {
        <h5>Model.UserReviews[i].UserProfile.Name</h5>
        <p>Model.UserReviews.[i].Review</p>
    }
}

